.accordion {
  border: 1px solid lightgrey;
  .item {
    &:not(:last-child) {
      border-bottom: 1px solid lightgrey;
    }
    .inner {
      padding: 10px 20px;
      display: none;
      &.show {
        display: block;
      }
    }
  }
  .title {
    padding: 10px 20px;
    user-select: none;
    &:hover{
      cursor: pointer;
      background-color: lightgrey;
      span{
        text-decoration: underline;
      }
    }
  }
}
